In [1]:
import numpy as np 
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
gender = pd.read_csv("../input/titanic/gender_submission.csv")
test = pd.read_csv("../input/titanic/test.csv")
train = pd.read_csv("../input/titanic/train.csv")

In [3]:
gender.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
women = train.loc[train.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [7]:
men = train.loc[train.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [8]:
data = train.copy()

new = data.copy()
new['Sex'] = new['Sex'].replace(['female'],1)
new['Sex'] = new['Sex'].replace(['male'],0)

features = ["Age", "Fare", "Pclass", "Survived", "Sex", "PassengerId"]

imputer = SimpleImputer()
data_imputed = imputer.fit_transform(new[features])

df = pd.DataFrame({"Age": data_imputed[:,0].astype(int),
                   "Fare": data_imputed[:,1],
                   "Pclass": data_imputed[:,2],
                   "Survived": data_imputed[:,3],
                   "Sex": data_imputed[:,4],
                   "PassengerId": data_imputed[:,5]})

features_t = ["Age", "Fare", "Pclass", "Sex", "PassengerId"]

X = df[features_t]
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.46913580246)

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X_test, y_test)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': gender.PassengerId.astype(int), 'Survived': predictions.astype(int)})

output.to_csv('submission.csv', index=False)
print("Successfully Saved!")

output

Successfully Saved!

     PassengerId  Survived
0            892         0
1            893         0
2            894         1
3            895         1
4            896         0
..           ...       ...
413         1305         1
414         1306         0
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]